/* Coolors Exported Palette - https://coolors.co/a7ccae-c7ccd0-c78d78-d3bb8c-7ec7ed-1f1f1f-4d83b9-f6d229 */

/* CSS HEX */
--celadon: #A7CCAEff;
--silver: #C7CCD0ff;
--rosy-brown: #C78D78ff;
--ecru: #D3BB8Cff;
--baby-blue: #7EC7EDff;
--eerie-black: #1F1F1Fff;
--steel-blue: #4D83B9ff;
--gold: #F6D229ff;

/* CSS HSL */
--celadon: hsla(131, 27%, 73%, 1);
--silver: hsla(207, 9%, 80%, 1);
--rosy-brown: hsla(16, 41%, 63%, 1);
--ecru: hsla(40, 45%, 69%, 1);
--baby-blue: hsla(201, 76%, 71%, 1);
--eerie-black: hsla(0, 0%, 12%, 1);
--steel-blue: hsla(210, 44%, 51%, 1);
--gold: hsla(49, 92%, 56%, 1);

/* SCSS HEX */
$celadon: #A7CCAEff;
$silver: #C7CCD0ff;
$rosy-brown: #C78D78ff;
$ecru: #D3BB8Cff;
$baby-blue: #7EC7EDff;
$eerie-black: #1F1F1Fff;
$steel-blue: #4D83B9ff;
$gold: #F6D229ff;

/* SCSS HSL */
$celadon: hsla(131, 27%, 73%, 1);
$silver: hsla(207, 9%, 80%, 1);
$rosy-brown: hsla(16, 41%, 63%, 1);
$ecru: hsla(40, 45%, 69%, 1);
$baby-blue: hsla(201, 76%, 71%, 1);
$eerie-black: hsla(0, 0%, 12%, 1);
$steel-blue: hsla(210, 44%, 51%, 1);
$gold: hsla(49, 92%, 56%, 1);

/* SCSS RGB */
$celadon: rgba(167, 204, 174, 1);
$silver: rgba(199, 204, 208, 1);
$rosy-brown: rgba(199, 141, 120, 1);
$ecru: rgba(211, 187, 140, 1);
$baby-blue: rgba(126, 199, 237, 1);
$eerie-black: rgba(31, 31, 31, 1);
$steel-blue: rgba(77, 131, 185, 1);
$gold: rgba(246, 210, 41, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #A7CCAEff, #C7CCD0ff, #C78D78ff, #D3BB8Cff, #7EC7EDff, #1F1F1Fff, #4D83B9ff, #F6D229ff);
$gradient-right: linear-gradient(90deg, #A7CCAEff, #C7CCD0ff, #C78D78ff, #D3BB8Cff, #7EC7EDff, #1F1F1Fff, #4D83B9ff, #F6D229ff);
$gradient-bottom: linear-gradient(180deg, #A7CCAEff, #C7CCD0ff, #C78D78ff, #D3BB8Cff, #7EC7EDff, #1F1F1Fff, #4D83B9ff, #F6D229ff);
$gradient-left: linear-gradient(270deg, #A7CCAEff, #C7CCD0ff, #C78D78ff, #D3BB8Cff, #7EC7EDff, #1F1F1Fff, #4D83B9ff, #F6D229ff);
$gradient-top-right: linear-gradient(45deg, #A7CCAEff, #C7CCD0ff, #C78D78ff, #D3BB8Cff, #7EC7EDff, #1F1F1Fff, #4D83B9ff, #F6D229ff);
$gradient-bottom-right: linear-gradient(135deg, #A7CCAEff, #C7CCD0ff, #C78D78ff, #D3BB8Cff, #7EC7EDff, #1F1F1Fff, #4D83B9ff, #F6D229ff);
$gradient-top-left: linear-gradient(225deg, #A7CCAEff, #C7CCD0ff, #C78D78ff, #D3BB8Cff, #7EC7EDff, #1F1F1Fff, #4D83B9ff, #F6D229ff);
$gradient-bottom-left: linear-gradient(315deg, #A7CCAEff, #C7CCD0ff, #C78D78ff, #D3BB8Cff, #7EC7EDff, #1F1F1Fff, #4D83B9ff, #F6D229ff);
$gradient-radial: radial-gradient(#A7CCAEff, #C7CCD0ff, #C78D78ff, #D3BB8Cff, #7EC7EDff, #1F1F1Fff, #4D83B9ff, #F6D229ff);